body {
   /* display: flex;
    flex-direction: column;
    align-items: center;  */
    margin: 0;
	background-image: url("texture.jpg"); 
    background-size: 100%  cover ;
 /* background:linear-gradient(to bottom,#e6c8a5    , #6a5a48); */
  /*background-color:#6a5a48 ;*/
}
h2 {
    font-family: "Comic sans ms";
}
.birdslistall {
    height: 1600px;
    float: left;
}
.all {
    border: 2px solid #000000;
    width: 90%;
    background: linear-gradient(to bottom, #efdac3, #e6c8a5 );
    margin-left: auto;
    margin-right: auto;
}
.heading {
	transition: 0.5s;
    padding-top:20px;
    padding-bottom: 20px;
	padding-left: 20px;
    background-color: #c7a278;
    border-bottom: 2px solid #000000;
    font-size: 40px;
   /* vertical-align: middle; */
    line-height: 70px;
    font-family: "Comic sans ms";
}
.downheading {
	padding-top: 5px;
	padding-bottom: 5px;
    font-family: "Comic sans ms";
    background-color: #e1ba8d;
    line-height: 40px;
    padding-left: 20px;
    border-bottom: 2px solid #000000;
	font-size: 2em;
	vertical-align: center;
}
.menu {
   /* border-left: 2px solid #000000; */
   /* background:linear-gradient(to bottom,#957f66, #6a5a48);  */
    margin: 0px;
   /*margin-top: -418px; */
    width: 18%;
	color: white;
	background:#6a5a48;
	border-right: 4px inset #000000;
}
.menu ul {
    font-size: 1em;
    font-family: sans-serif;
    font-style: bold;
    list-style-type: none;
	margin-top: 0px;
    padding: 0;

}
.menu ul li a {
	color: white;
}
.menu ul li {
	transition: 0.5s;
    text-align: center;
    padding-top: 12%;
    padding-bottom: 12%;
    /* vertical-align: bottom   ;
    width: 150px; */
    height:50%;
    border-bottom: 4px inset #000000;
}
.menu ul li:hover:last-child{
	background:#6a5a48;
}
.menu ul li:hover {
	transition: 0.5s;
	font-size:1.2em;
	background: #796753;
}
.footer {
    width: 100%;
    height: 100%;
}
.text {
	font-size: 1.1em;
    padding: 20px;
    font-family: "comic sans ms";
    width: 70%;
}
.birdlistcontainer {
	display: flex;
	flex-direction: row;
	justify-items: flex-start;
	align-items: flex-start;
}
 .birds_image {  
    width: 70%;
    background-color:#6a5a48 ;
}
.containerandmenu {
	display: flex;
	flex-direction: row;
	justify-items: center;
	align-content: flex-start;

}
a {
    color: black;
    text-decoration: none;
}
.minigallerey {
	display: flex;
	flex-direction: column;
	justify-items: flex-start;
	align-items: flex-start;
	clear: both; 
	margin: 0;
    margin-bottom: 5px;
	width: 40%;
}
.dodopicture {
    width: 350px;
}
.pastushoklegata {
    width: 350px;
}
.siniygolup {
    width: 350px;
}
.EmuKenguru {
    width: 350px;
}
.AraKubinsky {
    width: 350px;
}
.GavayskyPogonysh {
    width: 350px;
}
.imm{
   width: 100%;
   border: 7px solid black;
}
.imm2{
   width: 70%;
   border: 4px solid black;
}
.imm3{
   width: 100%;
}
footer .footer .immf{
     width: 10%;
	 float: right;
	 margin-top: 0;
}
footer .footer .immf2{
     width: 8%;
	 float: right;
	 margin-top: 0;
}
.menu ul .emptyli {
	border: 0px solid #000000;
}
footer {
	font-size: 100%;
	display: flex;
	flex-direction: row;
	justify-items: center;
	color: white;
	font-family: sans-serif;
	border-top: 2px solid #000000;
	width: 100%;
	background-color: #7b6b59; 
 }
.birdlist {
	margin-left: 0%;
	font-size: 1.5em;
}
.citate h3 {
	margin-left: -3%;
}
.citate {
	clear: both;
	margin: 2% 5%;
	padding: 0.5%;
	background-color:#f6e6d7;
	border-left: 5px solid #7b6b59;
	border-radius: 1%;
}
/*.nzvsmst {
	padding-bottom: 1.5%;
	border-bottom: 2px solid #7b6b59;
}*/
.navigation {
	background-color:#f6e6d7;
	border: 2px solid #7b6b59;
	border-radius: 1%;
}
.imagestory {
	float: right;
	width: 300px;
}
.golup {
	float: left;
	margin-right: 1%;
	padding: 0.5%;
	background-color:#f6e6d7;
	border: 2px solid #7b6b59;
	border-radius: 1%;
	width: 220px;
}
ol li {
	margin-bottom: 2%;
}
.alive {
	margin-left: 1%;
	margin-right: 1%;
	width: 210px;
}
.skelet {
	float: left;
}
.alivetext {
	font-size: 20px;
}
.sources li {
	font-size: 26px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.sources li li {
	text-decoration: underline;
}
.redbook {
	text-decoration: underline;
}
.mavrikiytext p{
	margin-bottom: 1.5%;
	margin-top: 1.2%;
}
#popugai {
	clear: both;
}
.imm4 {
	width: 25%;
}